* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 70%;
}

.container .elistcon {
  display: flex;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  background-color: #000;
  color: #fff;
}

.elistcon .elttl {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.elistcon .eaddbtn,
.eexpbtn {
  padding: 5px 10px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.eexpbtn {
  margin-left: 20px;
}

.container table {
  width: 90%;
  margin-top: 80px;
  padding: 0px 10px;
  border-collapse: collapse;
}

.container table th,
td {
  padding: 20px 10px;
  border-bottom: 1px solid lightgray;
}

.container table .editbtn,
.container table .deletebtn {
  padding: 5px 10px;
  border: 2px solid #000;
  text-decoration: none;
  border-radius: 5px;
}

.container table .editbtn {
  border-color: #ffa500;
}

.container table .deletebtn {
  border-color: #ff0000;
}

.returncon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  background-color: #000;
  color: #fff;
}

.returncon a {
  padding: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.container form {
  width: 30%;
  margin-top: 40px;
}

.container form .inputCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.container form .inputCon input,
.container form .inputCon select {
  width: 60%;
  height: 35px;
  border: 1px solid #d3d3d3;
  text-indent: 10px;
  border-radius: 5px;
}

.container form button {
  display: block;
  padding: 10px 40px;
  border: 1px solid #d3d3d3;
  background-color: rgb(32, 162, 95);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.container form .errorbtn {
  display:none;
  width: 100%;
  margin-bottom: 20px;
  color: #ff0000;
  text-align: right;
}

.nodata {
  margin-top: 100px;
  color: #d3d3d3;
  font-size: 30px;
  text-align: center;
}

.pagi {
  margin-top: 30px;
}

.pagi nav ul li {
  display: inline-block;
  margin: 0px 2px;
  padding: 5px;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 5px;
}

.pagi .page-item .page-link {
  color: #000;
  text-decoration: none;
}

.pagi .page-item.active .page-link {
  color: #fff;
}

.pagi .page-item.active {
  background-color: #000;
}

.container .importform {
  width: 30%;
}

.container .importform input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 5px;
}

.container .importform label {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
}

.returnbtn {
  width: 100%;
}

.returnbtn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.container .searchform {
  display: flex;
  align-items: center;
  width: 300px;
  margin-top: 0px;
  margin-left: 40px;
}

.container .searchform button {
  margin-left: 10px;
  padding: 5px 10px;
  transition: all .4s ease-in-out;
}

.container .searchform input {
  width:80%;
  height: 35px;
  border: 1px solid black;
  text-indent: 10px;
  border-radius: 5px;
}

.container .searchform button:hover {
  padding: 10px 15px;
}

.container .searchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.container .searchttl {
  margin-bottom: 20px;
  font-size: 25px;
}

.container .searchResult table {
  margin-top: 0px;
}

.container .apiStatus {
  display: none;
  position: fixed;
  bottom: 5vh;
  left: 0;
  padding: 15px 25px;
  background-color: rgb(39, 180, 53);
  color: #fff;
}

